# Dependency directories
node_modules/
.pnpm-store/

# Build output
dist/

# Environment files
.env
.env.development
.env.production
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db