# Server Config
PORT=3000
NODE_ENV=development

# Database Config
DATABASE_URL=postgres://user:password@localhost:5432/pulsar_db

# Cache Config
REDIS_URL=redis://localhost:6379

# Auth Config (Use strong random strings in production)
JWT_SECRET=super_secret_jwt_key
REFRESH_TOKEN_SECRET=super_secret_refresh_key
COOKIE_SECRET=super_secret_cookie_key
